img {
    width: 500px;
    padding: 20px;
    border-radius: 10px !important;
    justify-content: center;
}

li {
    text-align: center;
    list-style: inside;
    list-style-type: none;
}

.card {
    padding: 25px
}

#AboutMeText {
    font-size: x-large;
}

#poem{
    font-style: italic;
}
